{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		{% block title %}
			<title>About</title>
		{% endblock %}
	</head>
	<body>
		{% block main %}
			<main class="ui container">
				<br>
				<h1 class="ui header center">About</h1>
				<br>
				
				<div class="ui raised {{ colors | random }} segment">
					<br>
					<h3>bughunt3r is just a pipeline of recon. bughunt3r would not have been possible without the following individuals/organizations.</h3>
					<br>
					<div class="ui list left aligned">
						<a class="item" target="_blank" href="https://github.com/OWASP/">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								Amass: OWASP
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://github.com/projectdiscovery/">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								subfinder: ProjectDiscovery
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://github.com/aboul3la/">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								Sublist3r: Ahmed Aboul-Ela
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://github.com/tomnomnom/assetfinder">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								assetfinder: Tom Hudson
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://nmap.org">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								Nmap
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://github.com/robertdavidgraham/masscan">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								Masscan
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://github.com/lc">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								gau: Corben Leo
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://github.com/hakluke/hakrawler">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								hakrawler : Luke Stephens
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://github.com/maurosoria/dirsearch">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								dirsearch: maurosoria
								</div>
							</div>
						</a>
						<a class="item" target="_blank" href="https://github.com/haccer/subjack">
							<i class="right triangle icon"></i>
							<div class="content">
								<div class="header">
								subjack haccer
								</div>
							</div>
						</a>
					</div>
				</div>
				<br>
				<div class="ui raised {{ colors | random }} segment">
					<h1 class="ui header huge center">About the Author</h1>
					<a class="ui blue image label" href="https://github.com/wh0th3h3llam1" target="_blank">
						<img src="{% static 'images/avatar.png' %}">
						wh0am1
						<div class="detail">Author</div>
					</a>
					<br>
					This framework is written by wh0am1
				</div>

				<h1 class="ui header center">Your I.P. Address is : {{ ip_add }}</h1>
				<br>
			</main>
		{% endblock %}
	</body>
</html>