{% extends 'base.html' %}
{% load static %}
{% load startswith %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block title %}
		<title>Result #{{ id }}</title>
		{% endblock %}

		{% url 'subdomain-enum' as se %}
		
		{% block styles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">
		{% endblock %}
			
		{% block js %}
			
			<script src="{% static 'js/detailed_report.js' %}"></script>

		{% endblock %}
		
	</head>

	<body>

		{% block main %}
			<main class="ui container">
				<br>
				<h1 class="ui header center">EyeWitness</h1>
				<br>
				<div class="ui breadcrumb">
					<a class="section" href="{% url 'results' %}">Results</a>
					<i class="right angle icon divider"></i>
					<a class="section" href="{% url 'results' 'subdomain-enum' %}">Subdomain Enumeration</a>
					<i class="right angle icon divider"></i>
					<a class="section" href="{% url 'results' 'subdomain-enum' id %}">{{ id }}</a>
					<i class="right angle icon divider"></i>
					<div class="active section">EyeWitness</div>
				</div>
				<br>
				{% if images %}
					<div class="ui raised {{ colors | random }} segment">
						<h2 class="ui header center">Scan Details</h2>
						<div>
							<b>Domain: </b> {{ domain | default:"Not Found" }}
							<br>
							<b>Performed on: </b> {{ dt }}
							<br>
							<b>Tool Used: </b> {{ tool_used }}
							<br>
							<b>Subdomains Found: </b> {{ size }}
							{% if active %}
								<br>
								<b>Active Subdomains:</b> {{ active_domains }}
							{% endif %}
						</div>
					</div>

					<div class="ui green animated fade button" tabindex="0" data-tooltip="Get Detailed Report from EyeWitness">
						<div class="visible content">Get Detailed Report from EyeWitness</div>
						<div class="hidden content" onclick="detailedReport();">
							<input type="hidden" id="detailed_report" data-url="{% url 'results' 'subdomain-enum' id 'eyewitness' 'detailed_report' %}">
							<i class="images outline icon"></i>
						</div>
					</div>
					
					<h4 class="ui horizontal divider large header">
						<i class="bar chart icon"></i>
						Scan Results
					</h4>

					{% for image in images %}
						{{ image }}
						<br>
						<img src="{{ image }}" alt="" srcset="">
						<br>
					{% endfor %}
					{% comment %}
						
						<table class="ui celled {{ colors | random }} sortable table">
							<thead onclick="$('table').tablesort();">
								<tr>
									<th class="center aligned">No.</th>
									<th class="center aligned">Domain Name</th>
									<th class="center aligned">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for i in result %}
									<tr>
										<td class="center aligned">{{ forloop.counter }}</td>
										<td class="center aligned" id="{{ forloop.counter }}">
											<a target="_blank" href="http://{{ i }}">{{ i }}</a>
										</td>
										<td class="center aligned">
											<button class="circular small ui icon button" data-tooltip="Copy to Clipboard">
												<i class="icon clipboard"></i>
											</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

					{% endcomment %}

				{% else %}
					<div class="ui placeholder segment">
						<div class="ui icon header">
						<i class="searchengin icon"></i>
						No Scan Result Found for #{{ id }}
						</div>
						<div class="ui primary animated button" tabindex="0">
							<div class="visible content">Scan Subdomain</div>
							<div class="hidden content" onclick="location.href='{{ se }}'">
								<i class="right arrow icon"></i>
							</div>
						</div>
					</div>
				{% endif %}
	
			</main>
			<br><br>
		{% endblock %}

		</body>
</html>