{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		{% block title %}
			<title>Find Subdomains</title>
		{% endblock %}
	</head>

	<body>

		{% block main %}
			<main class="ui container">
				<br><br><br>
				<div>
					<div style="float: left;">
						<button class="ui icon primary button" data-tooltip="Back to Subdomain Enumeration">
							<i class="arrow left icon"></i>
						</button>
					</div>
					<div>
						<h1 class="ui header center">Find Subdomains</h1>
					</div>
				</div>
				<br>
			</main>
			<br><br><br><br><br><br><br><br><br><br><br><br><br>
		{% endblock %}
	</body>

	<script src="{% static 'jquery/validate_url.js' %}"></script>
</html>