<!-- <div class="ui borderless fluid five item menu"> -->
<div class="ui footer">
	<div class="header item">
		Bughunt3r
		<a href="">1</a>
		<a href="">1</a>
		<a href="">2</a>
		<a href="">3</a>
		<a href="">4</a>
		<br>
	</div>
</div>

<div class="ui right floated horizontal list">
	<div class="disabled item" href="#">© GitHub, Inc.</div>
	<a class="item" href="#">Terms</a>
	<a class="item" href="#">Privacy</a>
	<a class="item" href="#">Contact</a>
</div>
<div class="ui horizontal list">
	<a class="item" href="#">About Us</a>
	<a class="item" href="#">Jobs</a>
</div>