{% load static %}

<!-- <div class="ui borderless fluid five item stackable menu">
	<div class="header item">
		<i class="bug icon"></i>
		Bughunt3r
		<br>
		A Recon Framework
	</div>
	<div class="header item">
		<div class="menu">
			<div class="header item">Scan</div>
			<a class="item">Subdomain</a>
			<a class="item">Ports</a>
		</div>
	</div>
	<div class="header item">
		Made with <em data-emoji=":heart:"></em> in <em data-emoji=":flag_in:"></em>
	</div>
	<div class="item">
		<div class="menu">
			<div class="header item">Results</div>
			<a class="item">All</a>
			<a class="item">Subdomain Enumeration</a>
			<a class="item">Port Scan</a>
		</div>
	</div>
	<div class="item">
		<div class="secondary vertical menu">
			<div class="header item">Author</div>
			<a class="item" href="mailto:wh0th3h3llam1@pm.me">
				<i class="at icon"></i>
				wh0th3h3llam1@pm.me
			</a>
			<a class="item" href="https://github.com/wh0th3llam1">
				<i class="github icon"></i>
				GitHub
			</a>
		</div>
	</div>
</div> -->

<!-- <div class="ui fluid popup">
	<div class="ui four column divided center aligned grid">
	  <div class="column">1</div>
	  <div class="column">2</div>
	  <div class="column">3</div>
	  <div class="column">4</div>
	</div>
</div> -->

{% url 'home' as hm %}
{% url 'subdomain-enum' as se %}
{% url 'port-scan' as pos %}
{% url 'results' as re %}
{% url 'results' 'all' as reall %}
{% url 'results' 'subdomain-enum' as rese %}
{% url 'results' 'port-scan' as reps %}
{% url 'about' as ab %}
{% url 'settings' as set %}

<br>
<div class="ui stackable relaxed equal width equal height grid">
	<div class="column center">
		<h2 class="ui header">
			<i class="bug icon"></i>
			Bughunt3r
		</h2>
		<!-- div. -->
		<!-- <div class="ui link list">
			<a class="item">Cashmere</a>
			<a class="item">Linen</a>
			<a class="item">Cotton</a>
			<a class="item">Viscose</a>
		</div> -->
		
	</div>
	<div class="column center">
		<h2 class="ui header">Perform Scan</h2>
		<div class="ui link list">
			<a class="item" href="{{ se }}" >Subdomain</a>
			<a class="item" href="{{ pos }}" >Port</a>
		</div>
	</div>
	<div class="column center" >
		<h2 class="ui header" style="vertical-align: bottom;">
			Made with 
		<!-- </h2> -->
		<!-- <h2 class="ui header"> -->
			<em data-emoji=":heart:"></em> in <em data-emoji=":flag_in:"></em>
		</h2>
	</div>
	<div class="column center">
		<h2 class="ui header">Results</h2>
		<div class="ui link list">
			<a class="item" href="{{ reall }}" >All Results</a>
			<a class="item" href="{{ rese }}" >Subdomain Enumeration</a>
			<a class="item" href="{{ reps }}" >Port Scan</a>
		</div>
	</div>
	<div class="column center">
		<h2 class="ui header">Author</h2>
		<div class="ui link list">
			<a class="item" href="mailto:wh0th3h3llam1@pm.me">
				<i class="at icon"></i>
				wh0th3h3llam1@pm.me
			</a>
			<a class="item" href="https://github.com/wh0th3llam1" target="_blank">
				<i class="github icon"></i>
				GitHub
			</a>
			<a class="item" href="https://twitter.com/__wh0am1__" target="_blank">
				<i class="twitter icon"></i>
				Twitter
			</a>
		</div>
	</div>
</div>