{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block title %}
			<title>Page Not Found</title>
		{% endblock %}
	</head>

	<body>

		{% block main %}
			<main class="ui container center">
				<br>
				<h1 class="ui header">Page Not Found</h1>

				<div class="ui placeholder segment">
					<div class="ui icon header">
						<i class="exclamation triangle icon"></i>
						Page Not Found
					</div>
				</div>
				<div class="ui yellow segment">
					<h2 class="ui header center">Delete All Scan Results</h2>
					<div class="center">
						<div class="ui blue animated fade button" tabindex="0">
							<div class="visible content">Scan Subdomains</div>
							<div class="hidden content" onclick="location.href='{% url 'subdomain-enum' %}'">
								<i class="arrow right icon"></i>
							</div>
						</div>
						<div class="ui red animated fade button" tabindex="0">
							<div class="visible content">Scan Ports</div>
							<div class="hidden content" onclick="location.href='{% url 'port-scan' %}'">
								<i class="arrow right icon"></i>
							</div>
						</div>
					</div>

			</main>
		{% endblock %}
	</body>

</html>