{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		{% block title %}
			<title>Subdomain Enumeration</title>
		{% endblock %}

		{% block js %}
			<script src="{% static 'js/scan_started.js' %}"></script>
			<script>
				function show_dropdown() {
					$('.ui.dropdown').dropdown('show');
					console.log("In dropdown");
				}
				// $(document).ready(function (){
				// 	$('.ui.dropdown').dropdown('show');
				// });
			</script>
		{% endblock %}

	</head>

	<body onload="$('.ui.dropdown').dropdown()">

		{% block main %}
			<main class="ui container">
				<br>
				<h1 class="ui header center">Subdomain Enumeration</h1>
				<br>
				<div>
					
					<!-- <form class="ui form"> -->
					<form class="ui form" action="{% url 'results' %}" method="POST">
						{% csrf_token %}
						<div class="required field" id="url_field">
							<label>Domain</label>
							<input placeholder="Domain.com or 127.0.0.1" id="url" name="url" type="text">
						</div>
						<!-- <div class="ui submit button">Submit</div> -->
						<!-- <input type="submit" value="Find Subdomains" id="btn" class="ui button" onclick="onSubmit(event)"> -->

						{% comment %}
							<div class="field">
								<label>Tool To Use</label>
								<div class="ui selection dropdown" onclick="show_dropdown();">
									<input type="hidden" name="tool_to_use">
									<i class="dropdown icon"></i>
									<div class="default text">sublist3r</div>
									<select class="menu" name="tool">
										<option class="item" value="sublist3r" data-value="sublist3r">sublist3r</option>
										<option class="item" value="subfinder" data-value="subfinder">subfinder</option>
										<option class="item" value="amass" data-value="amass">amass</option>
										<option class="item" value="knockpy" data-value="knockpy">knockpy</option>
										<option class="item" value="findomain" data-value="findomain">findomain</option>
									</select>
								</div>
							</div>
						{% endcomment %}

						<div class="field">
							<label>Tool To Use</label>
							<select class="ui dropdown" name="tool" onclick="show_dropdown();">
								<option selected value="sublist3r">sublist3r</option>
								<option value="subfinder">subfinder</option>
								<option disabled value="amass">amass</option>
								<option disabled value="knockpy">knockpy</option>
								<option disabled value="findomain">findomain</option>
							</select>
						</div>
						<input type="hidden" name="scan_type" value="subdomain-enum">
						<button type="submit" id="btn" class="ui primary button" data-url="{% url 'results' %}" onclick="subdomainScanStarted(event);">Find Subdomains</button>
					</form>
					<br><br>

					<div>
						<h3 class="ui header">
							Reference:
						</h3>
					
						<a href="https://pentester.land/cheatsheets/2018/11/14/subdomains-enumeration-cheatsheet.html#methods">https://pentester.land/cheatsheets/2018/11/14/subdomains-enumeration-cheatsheet.html#methods</a>
						<br>
						<a href="https://www.hackingloops.com/subdomain-discovery-osint-or-bruteforce/">https://www.hackingloops.com/subdomain-discovery-osint-or-bruteforce/</a>
						<br>
						<a href="https://github.com/FortyNorthSecurity/EyeWitness/tree/v20210205.1">https://github.com/FortyNorthSecurity/EyeWitness/tree/v20210205.1</a>
					</div>
					
					{% comment %}
					<form class="ui form" action="{% url 'find-subdomains' %}" method="POST">
						<div class="ui labeled input">
							<div class="ui label">
								http://
							</div>
							<input type="text" id="url" placeholder="example.com">
								<input type="text" id="url" placeholder="example.com" onkeydown="validateURL()">
						</div>
						<input type="submit" value="Find Subdomains" class="ui button">
					</form>
					&nbsp;
					<div class="ui animated button" tabindex="0" onclick="location.href">
						<div class="visible content">Find Subdomains</div>
						<div class="hidden content">
							<i class="right arrow icon"></i>
						</div>
					</div>
						
					{% endcomment %}
					
				</div>
			</main>
		{% endblock %}
	</body>

	<!-- <script src="{% static 'js/loading.js' %}"></script> -->
</html>